name: Android CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

#      - name: Run Android Lint
#        run: ./gradlew lintDebug
#
#      - name: Run Unit Test
#        run: ./gradlew testDebug
#
      # apk のビルド
      - name: Build with Gradle
        run: ./gradlew build

      - name: Upload apk file
        uses: actions/upload-artifact@v3
        with:
          name: apk
          path: app/build/outputs/apk/debug/sample_app-debug.apk